.textLargo400 {
    width: 400px;
}

.textLargo250 {
    width: 250px;
}

.textLargo350 {
    width: 350px;
}

.margenTopLinea {
    margin-top: 5px;
}

.noEditable {
    background-color: #dddddd;
}

.tit-verde {
    font-size: 20px;
    color: green;
}

.tit-negro {
    font-size: 20px;
    color: black;
}

.tit-cafe {
    font-size: 20px;
    color: #7F593F;
}

.tablaFormulario2Cols {
    width: 100%;
}

    .tablaFormulario2Cols tr td {
        width: 50%;
    }

.tablaFormulario4Cols {
    width: 100%;
}

    .tablaFormulario4Cols tr td {
        width: 25%;
    }

.tablaFormulario5Cols {
    width: 100%;
}

    .tablaFormulario5Cols tr td {
        width: 15%;
    }

.tablaFormulario6Cols {
    width: 100%;
}

    .tablaFormulario6Cols tr td {
        width: 10%;
    }

.fondoGr {
    background-image: url("../../Image/FondoIndicador.png");
}

.muyHumedo {
    margin-left: 23%;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #006B41;
    cursor: pointer;
}

.humedo {
    margin-left: 23%;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #00A052;
    cursor: pointer;
}

.medioHumedo {
    margin-left: 23%;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E2E54E;
    cursor: pointer;
}

.medioSeco {
    margin-left: 23%;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #F48432;
    cursor: pointer;
}

.seco {
    margin-left: 23%;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #C5231E;
    cursor: pointer;
}
