@model SSoft.MVC.Models.RecursosModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Bienvenido</h2>
                <p></p>
            </div>
        </div>

    </div>
</div>
